.about-us {
  background: radial-gradient(circle at center, rgba(184,139,106,0.6), rgba(0,0,0,0.6)), url(/public/rir.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  color: #fdf8f3;
  font-family: var(--body-font);
  width: 100vw; 
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  margin-top: 0;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.about-us-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
}

.about-us-title {
  font-size: 3.4rem;
  font-family:  'Playfair Display', serif;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  animation: fadeInUp 3s ease forwards;
  opacity: 0;
  transform: translateY(0);
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.about-us-content {
  max-width: 1200px;
  background: transparent;
  padding: 4rem 2rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.about-us-description {
  max-width: 800px;
  margin: 0 auto 1.5rem auto;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: center;
  animation: fadeInUp 3s ease forwards;
  opacity: 0;
  transform: translateY(0);
  margin-bottom: 1.5rem;

}

.about-us-gallery{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.about-us-gallery img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-us-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.about-us-divider {
    width: 60px;
    height: 4px;
    background-color: #fffaf3;
    margin: 2rem auto;
    border-radius: 2px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;
  transform: translateY(20px);
}

.gallery-item:nth-child(1) {
  animation-delay: 1s;
}
.gallery-item:nth-child(2) {
  animation-delay: 1.6s;
}
.gallery-item:nth-child(3) {
  animation-delay: 2.1s;
}

.gallery-caption {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 4s ease forwards;
  animation-delay: 0.5s;
  font-family: var(--body-font);
  font-size: 1.1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.gallery-item:nth-child(1) .gallery-caption {
  animation-delay: 1s;
}
.gallery-item:nth-child(2) .gallery-caption {
  animation-delay: 1.6s;
}
.gallery-item:nth-child(3) .gallery-caption {
  animation-delay: 2s;
}

.about-us-quote {
  text-align: center;
  font-style: italic;
  color: #fffaf3;
  margin-top: 3rem;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease forwards;
  animation-delay: 2s; /* aparece después de las imágenes */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}