.main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(/public/taza-de-cafe-con-granos-tostados[1].jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;
}

.hero-title-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-title {
  font-size: 8rem;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  line-height: 1.1;
}

.title-line2 {
  margin-left: 13rem;

}

/* Contenido superpuesto */
.hero-content {
  text-align: left;
  color: white;
  max-width: 800px;
  z-index: 2;
  padding: 1rem;
}

.hero-divider {
  width: 160px;               /* largo de la línea */
  height: 2px;               /* grosor */
  background-color: #fff;    /* color de la línea */
  margin: 1rem auto;            /* espacio arriba y abajo */
  border: none;
}

/*Texto promocional*/
.hero-subtitle {
    color: var(--color-text);
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 30px;
}

/*Botones CTA*/
.hero-buttons {
    border: none;
    border-radius: 5px;
    font-family: var(--body-font);
    text-decoration: none;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-left: 28%;
    display: flex;
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  font-weight:normal;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1); /* leve fondo al pasar el mouse */
}


/* Animaciones sutiles */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translate(-50%, 20%); opacity: 0; }
  to { transform: translate(-50%, -50%); opacity: 1; }
}


