
:root {
  --color-bg: #FAF1E6;
  --color-text: #473A35;
  --color-accent: #A79A85;
  --title-font: 'Playball', cursive;
  --body-font: 'Alice', serif;
}


/* Estilos globales para eliminar márgenes y asegurar ancho completo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; /* Espaciado interno */
}

