
:root {
  --color-bg: #FAF1E6;
  --color-text: #473A35;
  --color-accent: #A79A85;
  --title-font: 'Playball', cursive;
  --body-font: 'Alice', serif;
}


/* Estilos globales para eliminar márgenes y asegurar ancho completo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden; /* Evita desplazamiento horizontal */
  margin: 0;
  padding: 0;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;  /*Espaciado interno*/ 
}

html {
  scroll-behavior: smooth;
}

/* Base */
.animada {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease-out;
}

.animada.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Variantes */
.fade-left {
  transform: translateX(-50px);
}
.fade-left.visible {
  transform: translateX(0);
}

.zoom-in {
  transform: scale(0.8);
}
.zoom-in.visible {
  transform: scale(1);
}

.slide-up {
  transform: translateY(50px);
}
.slide-up.visible {
  transform: translateY(0);
}